<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Add a New Message</h1>

  <form method="post" action="/new">

    <label for="form__username">Your Name:</label>
    <input type="text" id="form__username" name="username" placeholder="Enter your name" required maxlength="30">

    <label for="form__message">Your Message:</label>
    <input type="text" id="form__message" name="messageText" placeholder="Enter your message" required maxlength="300">

    <button type="submit">Send</button>
  </form>

  <button>
    <a href="/">
      Back
    </a>
  </button>
  
</body>
</html>