<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Add a New Message</h1>

  <form method="post" action="/new">
    <div class="form__username">
      <label for="username">Your Name:</label>
      <input type="text" id="username" name="username" placeholder="Enter your name" required maxlength="30">
    </div>

    <div class="form__message">
      <label for="message">Your Message:</label>
      <input type="text" id="message" name="messageText" placeholder="Enter your message" required maxlength="300">
    </div>

    <div class="form__buttons">
      <button>
        <a href="/">
          Back
        </a>
      </button>

      <button type="submit" class="button--send">
        Send
      </button>
    </div>

  </form>

</body>
</html>