<div class="message">
  <div class="message__header">
    <%= message.user %>
    <span class="message__time"><%= message.added.toLocaleString() %></span>
  </div>
  <div class="message__text">
    <%= message.text %>
  </div>
</div>