<div class="message">
  <div class="message__container">
    <div class="message__header">
      <div class="message__time">
        <%= message.added.toLocaleString() %>
      </div>
      <div class="message__username">
        <%= message.user %>
      </div>
    </div>
    <div class="message__text">
      <%= message.text %>
    </div>
  </div>

  <button>
    <a href="/messages/<%= message.id %>">View Details</a>
  </button>
</div>